In [56]:
###############################3. hafta Veri Görselleştirme Ödevi
# GÖREV 1:
# Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
pd.set_option("display.max_rows", None)

df=pd.read_csv(r"C:\Users\burcu\OneDrive\Masaüstü\DS Miiul\Python for DS\python_for_data_science\data_analysis_with_python\datasets\persona.csv")

In [12]:
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [10]:
df.tail()

      PRICE   SOURCE     SEX COUNTRY  AGE
4995     29  android  female     bra   31
4996     29  android  female     bra   31
4997     29  android  female     bra   31
4998     39  android  female     bra   31
4999     29  android  female     bra   31

In [11]:
df.shape

(5000, 5)

In [12]:
df.info

<bound method DataFrame.info of       PRICE   SOURCE     SEX COUNTRY  AGE
0        39  android    male     bra   17
1        39  android    male     bra   17
2        49  android    male     bra   17
3        29  android    male     tur   17
4        49  android    male     tur   17
...     ...      ...     ...     ...  ...
4995     29  android  female     bra   31
4996     29  android  female     bra   31
4997     29  android  female     bra   31
4998     39  android  female     bra   31
4999     29  android  female     bra   31

[5000 rows x 5 columns]>

In [13]:
df.columns

Index(['PRICE', 'SOURCE', 'SEX', 'COUNTRY', 'AGE'], dtype='object')

In [14]:
df.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            4990, 4991, 4992, 4993, 4994, 4995, 4996, 4997, 4998, 4999], dtype='int64', length=5000)

In [15]:
df.describe().T #sayısal verilerin istatistiği

        count     mean        std   min   25%   50%   75%   max
PRICE  5000.0  34.1320  12.464897   9.0  29.0  39.0  39.0  59.0
AGE    5000.0  23.5814   8.995908  15.0  17.0  21.0  27.0  66.0

In [16]:
df.isnull().values.any()

False

In [17]:
df.isnull().sum()

PRICE      0
SOURCE     0
SEX        0
COUNTRY    0
AGE        0
dtype: int64

In [16]:
# Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
print(df["SOURCE"].nunique())
print("######")
df["SOURCE"].value_counts()

2
######

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [6]:
# Soru 3: Kaç unique PRICE vardır? - # Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
print(df["PRICE"].nunique())
df["PRICE"].value_counts()

6

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [6]:
#3-4. soru alternatif:
def unique_count(dataframe, col):
    print(dataframe[col].nunique())
    print(pd.DataFrame({"Count": dataframe[col].value_counts() }))
                       
unique_count(df, "PRICE")

6
    Count
29   1305
39   1260
49   1031
19    992
59    212
9     200

In [3]:
# Soru 5: Hangi ülkeden kaçar tane satış olmuş?
df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [7]:
unique_count(df, "COUNTRY")

6
     Count
usa   2065
bra   1496
deu    455
tur    451
fra    303
can    230

In [17]:
# Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
df.groupby("COUNTRY")["PRICE"].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

In [14]:
#Soru 7: SOURCE türlerine göre göre satış sayıları nedir?
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [15]:
# Soru 8: Ülkelere göre PRICE ortalamaları nedir?
df.groupby("COUNTRY")["PRICE"].mean()

COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64

In [16]:
# Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?
df.groupby("SOURCE")["PRICE"].mean()

SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

In [17]:
# Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?
df.groupby(["COUNTRY", "SOURCE"])["PRICE"].mean()

COUNTRY  SOURCE
bra      android    34.387029
         ios        34.222222
can      android    33.330709
         ios        33.951456
deu      android    33.869888
         ios        34.268817
fra      android    34.312500
         ios        32.776224
tur      android    36.229437
         ios        33.272727
usa      android    33.760357
         ios        34.371703
Name: PRICE, dtype: float64

In [24]:
###############2:GÖREV:  COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?
df.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"])["PRICE"].mean()

COUNTRY  SOURCE   SEX     AGE
bra      android  female  15     38.714286
                          16     35.944444
                          17     35.666667
                          18     32.255814
                          19     35.206897
                          20     31.000000
                          21     37.292683
                          22     34.945946
                          23     31.941176
                          24     36.500000
                          25     35.666667
                          26     33.166667
                          27     26.142857
                          28     22.333333
                          29     37.571429
                          30     45.666667
                          31     35.097561
                          32     39.000000
                          34     24.000000
                          37     33.736842
                          38     34.555556
                          39     43.000000
                          41     32.333333
                          43     44.000000
                          45     33.615385
                          56     37.000000
                  male    15     39.344828
                          16     29.666667
                          17     37.157895
                          18     33.054054
                          19     35.216216
                          20     35.400000
                          21     35.250000
                          22     31.000000
                          23     21.500000
                          24     40.428571
                          25     30.428571
                          26     37.095238
                          27     32.636364
                          28     28.230769
                          29     29.714286
                          30     35.363636
                          35     31.500000
                          36     31.857143
                          40     39.625000
                          41     35.666667
                          44     36.500000
                          46     59.000000
                          53     29.000000
         ios      female  15     36.777778
                          16     33.687500
                          17     32.636364
                          18     36.500000
                          19     39.000000
                          20     32.846154
                          22     44.000000
                          23     29.769231
                          24     34.000000
                          25     39.000000
                          26     34.333333
                          27     34.000000
                          28     32.333333
                          29     30.428571
                          31     27.571429
                          33     35.363636
                          34     19.000000
                          35     32.333333
                          37     35.111111
                          42     39.000000
                          45     35.363636
                          46     33.000000
                          54     34.000000
                  male    15     36.878788
                          16     33.761905
                          17     35.333333
                          18     32.684211
                          19     34.000000
                          21     31.000000
                          22     37.181818
                          23     34.882353
                          24     33.864865
                          31     29.000000
                          33     37.571429
                          34     34.714286
                          35     36.777778
                          36     22.333333
                          37     29.000000
                          42     30.111111
                          43     42.333333
                          44     33.545455
                          47     19.000000
                          66     30.428571
can      android  female  15     25.666667
                          16     29.689655
                          18     37.333333
                          19     32.529412
                          20     31.500000
                          27     19.000000
                          43     34.000000
                  male    15     36.000000
                          20     40.111111
                          24     29.769231
                          30     40.250000
                          49     37.571429
         ios      female  15     33.705882
                          16     29.000000
                          29     31.727273
                  male    15     37.571429
                          16     35.000000
                          17     37.666667
                          25     31.173913
                          32     29.000000
                          57     31.000000
deu      android  female  15     32.000000
                          16     27.000000
                          17     33.736842
                          21     31.000000
                          22     35.000000
                          23     34.000000
                          24     35.363636
                          25     34.454545
                          27     32.125000
                          28     32.333333
                          33     29.000000
                          34     32.333333
                          36     49.000000
                          38     39.000000
                          41     27.750000
                          44     31.500000
                          51     49.000000
                  male    15     46.500000
                          17     32.913043
                          18     32.333333
                          19     31.222222
                          20     41.727273
                          21     34.000000
                          23     37.333333
                          24     29.000000
                          26      9.000000
                          31     32.333333
                          32     29.000000
                          33     35.363636
                          34     45.000000
                          37     38.166667
         ios      female  15     30.666667
                          16     35.557377
                          17     37.823529
                          18     37.333333
                          22     34.000000
                          23     34.000000
                          24     29.000000
                          26     36.000000
                          32     33.000000
                  male    16     39.000000
                          17     35.000000
                          20     49.000000
                          23     29.000000
                          25     35.000000
                          30     31.000000
                          32     31.352941
                          42     37.000000
fra      android  female  15     37.571429
                          16     36.727273
                          17     34.652174
                          19     27.333333
                          21     39.000000
                          23     32.125000
                          24     59.000000
                          26     31.857143
                          35     34.000000
                  male    15     30.250000
                          18     19.000000
                          19     40.538462
                          21     25.666667
                          23     41.307692
                          25     33.000000
                          32     32.333333
                          33     39.000000
                          46     32.333333
                          55     35.666667
         ios      female  15     33.615385
                          16     27.750000
                          18     32.571429
                          25     25.000000
                          28     30.428571
                          31     32.636364
                          40     33.000000
                  male    15     29.000000
                          16     30.666667
                          17     40.666667
                          19     35.666667
                          20     49.000000
                          22     35.000000
                          26     34.000000
                          27     29.000000
                          31     38.375000
                          38     29.000000
                          51     39.000000
tur      android  female  15     41.000000
                          16     34.555556
                          17     33.687500
                          18     41.500000
                          19     31.000000
                          20     32.333333
                          21     37.000000
                          26     37.571429
                          29     24.000000
                          31     40.666667
                          32     43.000000
                          49     39.000000
                          50     32.333333
                          52     36.142857
                          56     29.000000
                  male    15     42.333333
                          16     38.285714
                          17     39.000000
                          21     19.000000
                          22     35.666667
                          24     35.923077
                          25     41.500000
                          26     39.666667
                          27     40.666667
                          36     29.000000
                          49     39.000000
         ios      female  16     29.000000
                          17     30.176471
                          18     44.000000
                          19     35.666667
                          20     37.333333
                          21     40.666667
                          22     32.636364
                          23     34.000000
                          25     34.000000
                          26     34.000000
                          31     39.000000
                          38     25.666667
                          51     34.000000
                  male    15     32.846154
                          16     39.000000
                          17     34.806452
                          19     27.333333
                          21     22.333333
                          24     45.000000
                          37     42.333333
                          42     31.105263
                          47     19.000000
usa      android  female  15     32.666667
                          16     34.901639
                          17     34.625000
                          18     32.404255
                          19     35.764706
                          20     31.285714
                          21     34.185185
                          22     33.800000
                          23     33.102564
                          24     30.052632
                          25     34.000000
                          26     30.777778
                          27     29.000000
                          28     34.789474
                          30     29.000000
                          31     35.000000
                          32     28.166667
                          33     37.181818
                          34     28.000000
                          35     35.666667
                          42     34.000000
                          44     32.333333
                          47     49.000000
                          49     35.250000
                          61     45.666667
                  male    15     34.663717
                          16     34.000000
                          17     34.454545
                          18     35.190476
                          19     32.809524
                          20     36.647059
                          21     32.333333
                          22     34.714286
                          23     34.849057
                          24     26.058824
                          25     34.000000
                          26     37.000000
                          27     33.285714
                          28     34.384615
                          29     22.333333
                          30     36.142857
                          31     34.714286
                          34     29.000000
                          35     34.714286
                          36     59.000000
                          37     29.000000
                          38     29.000000
                          41     35.428571
                          42     33.000000
                          43     39.909091
                          47     41.500000
                          51     35.875000
                          57     29.000000
                          65     25.666667
         ios      female  15     33.857143
                          16     31.500000
                          17     38.459459
                          18     32.913043
                          19     39.285714
                          20     35.000000
                          21     35.800000
                          22     34.000000
                          23     32.809524
                          24     32.750000
                          25     38.000000
                          26     36.857143
                          27     31.500000
                          28     36.142857
                          29     35.666667
                          30     19.000000
                          33     34.555556
                          34     30.875000
                          35     29.625000
                          38     19.000000
                          42     29.000000
                          47     34.714286
                          50     30.304348
                          59     41.500000
                          65     35.000000
                  male    15     33.729730
                          16     34.714286
                          17     32.913043
                          18     34.576923
                          20     34.000000
                          21     38.534884
                          22     32.170732
                          25     31.857143
                          26     34.000000
                          27     35.111111
                          28     42.333333
                          29     24.000000
                          30     41.727273
                          31     41.000000
                          32     54.000000
                          33     30.304348
                          36     24.000000
                          37     31.727273
                          42     30.250000
                          50     39.000000
                          53     34.000000
                          55     29.000000
                          59     46.500000
Name: PRICE, dtype: float64

In [23]:
df.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE": "mean"})

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
                       20   31.000000
                       21   37.292683
                       22   34.945946
                       23   31.941176
                       24   36.500000
                       25   35.666667
                       26   33.166667
                       27   26.142857
                       28   22.333333
                       29   37.571429
                       30   45.666667
                       31   35.097561
                       32   39.000000
                       34   24.000000
                       37   33.736842
                       38   34.555556
                       39   43.000000
                       41   32.333333
                       43   44.000000
                       45   33.615385
                       56   37.000000
                male   15   39.344828
                       16   29.666667
                       17   37.157895
                       18   33.054054
                       19   35.216216
                       20   35.400000
                       21   35.250000
                       22   31.000000
                       23   21.500000
                       24   40.428571
                       25   30.428571
                       26   37.095238
                       27   32.636364
                       28   28.230769
                       29   29.714286
                       30   35.363636
                       35   31.500000
                       36   31.857143
                       40   39.625000
                       41   35.666667
                       44   36.500000
                       46   59.000000
                       53   29.000000
        ios     female 15   36.777778
                       16   33.687500
                       17   32.636364
                       18   36.500000
                       19   39.000000
                       20   32.846154
                       22   44.000000
                       23   29.769231
                       24   34.000000
                       25   39.000000
                       26   34.333333
                       27   34.000000
                       28   32.333333
                       29   30.428571
                       31   27.571429
                       33   35.363636
                       34   19.000000
                       35   32.333333
                       37   35.111111
                       42   39.000000
                       45   35.363636
                       46   33.000000
                       54   34.000000
                male   15   36.878788
                       16   33.761905
                       17   35.333333
                       18   32.684211
                       19   34.000000
                       21   31.000000
                       22   37.181818
                       23   34.882353
                       24   33.864865
                       31   29.000000
                       33   37.571429
                       34   34.714286
                       35   36.777778
                       36   22.333333
                       37   29.000000
                       42   30.111111
                       43   42.333333
                       44   33.545455
                       47   19.000000
                       66   30.428571
can     android female 15   25.666667
                       16   29.689655
                       18   37.333333
                       19   32.529412
                       20   31.500000
                       27   19.000000
                       43   34.000000
                male   15   36.000000
                       20   40.111111
                       24   29.769231
                       30   40.250000
                       49   37.571429
        ios     female 15   33.705882
                       16   29.000000
                       29   31.727273
                male   15   37.571429
                       16   35.000000
                       17   37.666667
                       25   31.173913
                       32   29.000000
                       57   31.000000
deu     android female 15   32.000000
                       16   27.000000
                       17   33.736842
                       21   31.000000
                       22   35.000000
                       23   34.000000
                       24   35.363636
                       25   34.454545
                       27   32.125000
                       28   32.333333
                       33   29.000000
                       34   32.333333
                       36   49.000000
                       38   39.000000
                       41   27.750000
                       44   31.500000
                       51   49.000000
                male   15   46.500000
                       17   32.913043
                       18   32.333333
                       19   31.222222
                       20   41.727273
                       21   34.000000
                       23   37.333333
                       24   29.000000
                       26    9.000000
                       31   32.333333
                       32   29.000000
                       33   35.363636
                       34   45.000000
                       37   38.166667
        ios     female 15   30.666667
                       16   35.557377
                       17   37.823529
                       18   37.333333
                       22   34.000000
                       23   34.000000
                       24   29.000000
                       26   36.000000
                       32   33.000000
                male   16   39.000000
                       17   35.000000
                       20   49.000000
                       23   29.000000
                       25   35.000000
                       30   31.000000
                       32   31.352941
                       42   37.000000
fra     android female 15   37.571429
                       16   36.727273
                       17   34.652174
                       19   27.333333
                       21   39.000000
                       23   32.125000
                       24   59.000000
                       26   31.857143
                       35   34.000000
                male   15   30.250000
                       18   19.000000
                       19   40.538462
                       21   25.666667
                       23   41.307692
                       25   33.000000
                       32   32.333333
                       33   39.000000
                       46   32.333333
                       55   35.666667
        ios     female 15   33.615385
                       16   27.750000
                       18   32.571429
                       25   25.000000
                       28   30.428571
                       31   32.636364
                       40   33.000000
                male   15   29.000000
                       16   30.666667
                       17   40.666667
                       19   35.666667
                       20   49.000000
                       22   35.000000
                       26   34.000000
                       27   29.000000
                       31   38.375000
                       38   29.000000
                       51   39.000000
tur     android female 15   41.000000
                       16   34.555556
                       17   33.687500
                       18   41.500000
                       19   31.000000
                       20   32.333333
                       21   37.000000
                       26   37.571429
                       29   24.000000
                       31   40.666667
                       32   43.000000
                       49   39.000000
                       50   32.333333
                       52   36.142857
                       56   29.000000
                male   15   42.333333
                       16   38.285714
                       17   39.000000
                       21   19.000000
                       22   35.666667
                       24   35.923077
                       25   41.500000
                       26   39.666667
                       27   40.666667
                       36   29.000000
                       49   39.000000
        ios     female 16   29.000000
                       17   30.176471
                       18   44.000000
                       19   35.666667
                       20   37.333333
                       21   40.666667
                       22   32.636364
                       23   34.000000
                       25   34.000000
                       26   34.000000
                       31   39.000000
                       38   25.666667
                       51   34.000000
                male   15   32.846154
                       16   39.000000
                       17   34.806452
                       19   27.333333
                       21   22.333333
                       24   45.000000
                       37   42.333333
                       42   31.105263
                       47   19.000000
usa     android female 15   32.666667
                       16   34.901639
                       17   34.625000
                       18   32.404255
                       19   35.764706
                       20   31.285714
                       21   34.185185
                       22   33.800000
                       23   33.102564
                       24   30.052632
                       25   34.000000
                       26   30.777778
                       27   29.000000
                       28   34.789474
                       30   29.000000
                       31   35.000000
                       32   28.166667
                       33   37.181818
                       34   28.000000
                       35   35.666667
                       42   34.000000
                       44   32.333333
                       47   49.000000
                       49   35.250000
                       61   45.666667
                male   15   34.663717
                       16   34.000000
                       17   34.454545
                       18   35.190476
                       19   32.809524
                       20   36.647059
                       21   32.333333
                       22   34.714286
                       23   34.849057
                       24   26.058824
                       25   34.000000
                       26   37.000000
                       27   33.285714
                       28   34.384615
                       29   22.333333
                       30   36.142857
                       31   34.714286
                       34   29.000000
                       35   34.714286
                       36   59.000000
                       37   29.000000
                       38   29.000000
                       41   35.428571
                       42   33.000000
                       43   39.909091
                       47   41.500000
                       51   35.875000
                       57   29.000000
                       65   25.666667
        ios     female 15   33.857143
                       16   31.500000
                       17   38.459459
                       18   32.913043
                       19   39.285714
                       20   35.000000
                       21   35.800000
                       22   34.000000
                       23   32.809524
                       24   32.750000
                       25   38.000000
                       26   36.857143
                       27   31.500000
                       28   36.142857
                       29   35.666667
                       30   19.000000
                       33   34.555556
                       34   30.875000
                       35   29.625000
                       38   19.000000
                       42   29.000000
                       47   34.714286
                       50   30.304348
                       59   41.500000
                       65   35.000000
                male   15   33.729730
                       16   34.714286
                       17   32.913043
                       18   34.576923
                       20   34.000000
                       21   38.534884
                       22   32.170732
                       25   31.857143
                       26   34.000000
                       27   35.111111
                       28   42.333333
                       29   24.000000
                       30   41.727273
                       31   41.000000
                       32   54.000000
                       33   30.304348
                       36   24.000000
                       37   31.727273
                       42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

In [57]:
# GÖREV 3: Çıktıyı PRICE'a göre sıralayınız.
# Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE'a uygulayınız.
# Çıktıyı agg_df olarak kaydediniz.
df.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE": "mean"}).sort_values("PRICE", ascending=False)
agg_df = df.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE": "mean"}).sort_values("PRICE", ascending=False)
agg_df

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46   59.000000
usa     android male   36   59.000000
fra     android female 24   59.000000
usa     ios     male   32   54.000000
deu     android female 36   49.000000
                       51   49.000000
        ios     male   20   49.000000
usa     android female 47   49.000000
fra     ios     male   20   49.000000
usa     ios     male   59   46.500000
deu     android male   15   46.500000
bra     android female 30   45.666667
usa     android female 61   45.666667
tur     ios     male   24   45.000000
deu     android male   34   45.000000
tur     ios     female 18   44.000000
bra     android female 43   44.000000
        ios     female 22   44.000000
tur     android female 32   43.000000
bra     android female 39   43.000000
tur     ios     male   37   42.333333
        android male   15   42.333333
usa     ios     male   28   42.333333
bra     ios     male   43   42.333333
deu     android male   20   41.727273
usa     ios     male   30   41.727273
tur     android female 18   41.500000
usa     android male   47   41.500000
tur     android male   25   41.500000
usa     ios     female 59   41.500000
fra     android male   23   41.307692
usa     ios     male   31   41.000000
tur     android female 15   41.000000
fra     ios     male   17   40.666667
tur     ios     female 21   40.666667
        android female 31   40.666667
                male   27   40.666667
fra     android male   19   40.538462
bra     android male   24   40.428571
can     android male   30   40.250000
                       20   40.111111
usa     android male   43   39.909091
tur     android male   26   39.666667
bra     android male   40   39.625000
                       15   39.344828
usa     ios     female 19   39.285714
tur     android male   49   39.000000
bra     ios     female 19   39.000000
usa     ios     male   50   39.000000
bra     ios     female 25   39.000000
deu     android female 38   39.000000
        ios     male   16   39.000000
fra     android female 21   39.000000
                male   33   39.000000
tur     ios     female 31   39.000000
fra     ios     male   51   39.000000
bra     android female 32   39.000000
tur     ios     male   16   39.000000
bra     ios     female 42   39.000000
tur     android male   17   39.000000
                female 49   39.000000
bra     android female 15   38.714286
usa     ios     male   21   38.534884
                female 17   38.459459
fra     ios     male   31   38.375000
tur     android male   16   38.285714
deu     android male   37   38.166667
usa     ios     female 25   38.000000
deu     ios     female 17   37.823529
can     ios     male   17   37.666667
        android male   49   37.571429
bra     android female 29   37.571429
tur     android female 26   37.571429
can     ios     male   15   37.571429
bra     ios     male   33   37.571429
fra     android female 15   37.571429
deu     ios     female 18   37.333333
can     android female 18   37.333333
tur     ios     female 20   37.333333
deu     android male   23   37.333333
bra     android female 21   37.292683
usa     android female 33   37.181818
bra     ios     male   22   37.181818
        android male   17   37.157895
                       26   37.095238
usa     android male   26   37.000000
tur     android female 21   37.000000
deu     ios     male   42   37.000000
bra     android female 56   37.000000
        ios     male   15   36.878788
usa     ios     female 26   36.857143
bra     ios     female 15   36.777778
                male   35   36.777778
fra     android female 16   36.727273
usa     android male   20   36.647059
bra     ios     female 18   36.500000
        android male   44   36.500000
                female 24   36.500000
usa     android male   30   36.142857
tur     android female 52   36.142857
usa     ios     female 28   36.142857
deu     ios     female 26   36.000000
can     android male   15   36.000000
bra     android female 16   35.944444
tur     android male   24   35.923077
usa     android male   51   35.875000
        ios     female 21   35.800000
        android female 19   35.764706
fra     ios     male   19   35.666667
        android male   55   35.666667
bra     android male   41   35.666667
tur     android male   22   35.666667
bra     android female 25   35.666667
usa     android female 35   35.666667
        ios     female 29   35.666667
bra     android female 17   35.666667
tur     ios     female 19   35.666667
deu     ios     female 16   35.557377
usa     android male   41   35.428571
bra     android male   20   35.400000
deu     android male   33   35.363636
bra     ios     female 33   35.363636
                       45   35.363636
        android male   30   35.363636
deu     android female 24   35.363636
bra     ios     male   17   35.333333
        android male   21   35.250000
usa     android female 49   35.250000
bra     android male   19   35.216216
                female 19   35.206897
usa     android male   18   35.190476
bra     ios     female 37   35.111111
usa     ios     male   27   35.111111
bra     android female 31   35.097561
usa     ios     female 20   35.000000
        android female 31   35.000000
fra     ios     male   22   35.000000
deu     android female 22   35.000000
can     ios     male   16   35.000000
deu     ios     male   17   35.000000
usa     ios     female 65   35.000000
deu     ios     male   25   35.000000
bra     android female 22   34.945946
usa     android female 16   34.901639
bra     ios     male   23   34.882353
usa     android male   23   34.849057
tur     ios     male   17   34.806452
usa     android female 28   34.789474
        ios     male   16   34.714286
bra     ios     male   34   34.714286
usa     android male   22   34.714286
                       35   34.714286
                       31   34.714286
        ios     female 47   34.714286
        android male   15   34.663717
fra     android female 17   34.652174
usa     android female 17   34.625000
        ios     male   18   34.576923
bra     android female 38   34.555556
usa     ios     female 33   34.555556
tur     android female 16   34.555556
deu     android female 25   34.454545
usa     android male   17   34.454545
                       28   34.384615
bra     ios     female 26   34.333333
usa     android female 21   34.185185
bra     ios     female 54   34.000000
deu     android female 23   34.000000
usa     ios     male   26   34.000000
fra     ios     male   26   34.000000
bra     ios     female 27   34.000000
can     android female 43   34.000000
usa     ios     female 22   34.000000
                male   20   34.000000
bra     ios     male   19   34.000000
tur     ios     female 23   34.000000
                       25   34.000000
                       26   34.000000
deu     ios     female 22   34.000000
tur     ios     female 51   34.000000
deu     android male   21   34.000000
bra     ios     female 24   34.000000
usa     android male   16   34.000000
        ios     male   53   34.000000
        android female 42   34.000000
fra     android female 35   34.000000
usa     android male   25   34.000000
                female 25   34.000000
deu     ios     female 23   34.000000
bra     ios     male   24   33.864865
usa     ios     female 15   33.857143
        android female 22   33.800000
bra     ios     male   16   33.761905
deu     android female 17   33.736842
bra     android female 37   33.736842
usa     ios     male   15   33.729730
can     ios     female 15   33.705882
tur     android female 17   33.687500
bra     ios     female 16   33.687500
fra     ios     female 15   33.615385
bra     android female 45   33.615385
        ios     male   44   33.545455
usa     android male   27   33.285714
bra     android female 26   33.166667
usa     android female 23   33.102564
bra     android male   18   33.054054
        ios     female 46   33.000000
usa     android male   42   33.000000
fra     ios     female 40   33.000000
        android male   25   33.000000
deu     ios     female 32   33.000000
usa     ios     female 18   32.913043
deu     android male   17   32.913043
usa     ios     male   17   32.913043
bra     ios     female 20   32.846154
tur     ios     male   15   32.846154
usa     android male   19   32.809524
        ios     female 23   32.809524
                       24   32.750000
bra     ios     male   18   32.684211
usa     android female 15   32.666667
fra     ios     female 31   32.636364
bra     ios     female 17   32.636364
tur     ios     female 22   32.636364
bra     android male   27   32.636364
fra     ios     female 18   32.571429
can     android female 19   32.529412
usa     android female 18   32.404255
deu     android male   18   32.333333
usa     android male   21   32.333333
deu     android female 34   32.333333
usa     android female 44   32.333333
fra     android male   32   32.333333
deu     android female 28   32.333333
fra     android male   46   32.333333
bra     ios     female 28   32.333333
deu     android male   31   32.333333
tur     android female 20   32.333333
                       50   32.333333
bra     android female 41   32.333333
        ios     female 35   32.333333
        android female 18   32.255814
usa     ios     male   22   32.170732
fra     android female 23   32.125000
deu     android female 27   32.125000
                       15   32.000000
bra     android female 23   31.941176
usa     ios     male   25   31.857143
bra     android male   36   31.857143
fra     android female 26   31.857143
usa     ios     male   37   31.727273
can     ios     female 29   31.727273
        android female 20   31.500000
usa     ios     female 27   31.500000
bra     android male   35   31.500000
usa     ios     female 16   31.500000
deu     android female 44   31.500000
        ios     male   32   31.352941
usa     android female 20   31.285714
deu     android male   19   31.222222
can     ios     male   25   31.173913
tur     ios     male   42   31.105263
can     ios     male   57   31.000000
bra     android male   22   31.000000
deu     android female 21   31.000000
bra     ios     male   21   31.000000
        android female 20   31.000000
tur     android female 19   31.000000
deu     ios     male   30   31.000000
usa     ios     female 34   30.875000
        android female 26   30.777778
deu     ios     female 15   30.666667
fra     ios     male   16   30.666667
bra     android male   25   30.428571
        ios     female 29   30.428571
                male   66   30.428571
fra     ios     female 28   30.428571
usa     ios     female 50   30.304348
                male   33   30.304348
                       42   30.250000
fra     android male   15   30.250000
tur     ios     female 17   30.176471
bra     ios     male   42   30.111111
usa     android female 24   30.052632
can     android male   24   29.769231
bra     ios     female 23   29.769231
        android male   29   29.714286
can     android female 16   29.689655
bra     android male   16   29.666667
usa     ios     female 35   29.625000
fra     ios     male   15   29.000000
                       27   29.000000
bra     android male   53   29.000000
fra     ios     male   38   29.000000
can     ios     male   32   29.000000
usa     ios     female 42   29.000000
can     ios     female 16   29.000000
deu     ios     male   23   29.000000
                female 24   29.000000
        android male   32   29.000000
                       24   29.000000
                female 33   29.000000
usa     ios     male   55   29.000000
tur     android female 56   29.000000
bra     ios     male   31   29.000000
usa     android male   38   29.000000
                       57   29.000000
                female 27   29.000000
                male   34   29.000000
                       37   29.000000
bra     ios     male   37   29.000000
usa     android female 30   29.000000
tur     android male   36   29.000000
        ios     female 16   29.000000
bra     android male   28   28.230769
usa     android female 32   28.166667
                       34   28.000000
deu     android female 41   27.750000
fra     ios     female 16   27.750000
bra     ios     female 31   27.571429
tur     ios     male   19   27.333333
fra     android female 19   27.333333
deu     android female 16   27.000000
bra     android female 27   26.142857
usa     android male   24   26.058824
can     android female 15   25.666667
tur     ios     female 38   25.666667
fra     android male   21   25.666667
usa     android male   65   25.666667
fra     ios     female 25   25.000000
bra     android female 34   24.000000
tur     android female 29   24.000000
usa     ios     male   36   24.000000
                       29   24.000000
bra     android female 28   22.333333
tur     ios     male   21   22.333333
usa     android male   29   22.333333
bra     ios     male   36   22.333333
        android male   23   21.500000
tur     android male   21   19.000000
        ios     male   47   19.000000
bra     ios     female 34   19.000000
                male   47   19.000000
usa     ios     female 38   19.000000
                       30   19.000000
can     android female 27   19.000000
fra     android male   18   19.000000
deu     android male   26    9.000000

In [58]:
# GÖREV 4: Indekste yer alan isimleri değişken ismine çeviriniz.
#############################################
# Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir.
# Bu isimleri değişken isimlerine çeviriniz.
# İpucu: reset_index()
# agg_df.reset_index(inplace=True)

agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [59]:
# GÖREV 5: AGE değişkenini kategorik değişkene çeviriniz ve agg_df'e ekleyiniz.
#############################################
# Age sayısal değişkenini kategorik değişkene çeviriniz.
# Aralıkları ikna edici olacağını düşündüğünüz şekilde oluşturunuz.
# Örneğin: '0_18', '19_23', '24_30', '31_40', '41_70'
agg_df["NEW_AGE"]=pd.cut(agg_df["AGE"],[0, 18, 23, 30, 40, 70], labels=["0-18", "19-23", "24-30", "31-40", "41-70"])
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE NEW_AGE
0     bra  android    male   46   59.0   41-70
1     usa  android    male   36   59.0   31-40
2     fra  android  female   24   59.0   24-30
3     usa      ios    male   32   54.0   31-40
4     deu  android  female   36   49.0   31-40

In [60]:
# GÖREV 6: Yeni level based müşterileri tanımlayınız ve veri setine değişken olarak ekleyiniz.
#############################################
# customers_level_based adında bir değişken tanımlayınız ve veri setine bu değişkeni ekleyiniz.
# Dikkat!
# list comp ile customers_level_based değerleri oluşturulduktan sonra bu değerlerin tekilleştirilmesi gerekmektedir.
# Örneğin birden fazla şu ifadeden olabilir: USA_ANDROID_MALE_0_18
# Bunları groupby'a alıp price ortalamalarını almak gerekmektedir.

agg_df["customers_level_based"] = ["_".join([col[0],col[1],col[2],col[5]]).upper() for col in agg_df.values]
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE NEW_AGE     customers_level_based
0     bra  android    male   46   59.0   41-70    BRA_ANDROID_MALE_41-70
1     usa  android    male   36   59.0   31-40    USA_ANDROID_MALE_31-40
2     fra  android  female   24   59.0   24-30  FRA_ANDROID_FEMALE_24-30
3     usa      ios    male   32   54.0   31-40        USA_IOS_MALE_31-40
4     deu  android  female   36   49.0   31-40  DEU_ANDROID_FEMALE_31-40

In [29]:
agg_df = agg_df.groupby("customers_level_based").agg({"PRICE":"mean"})
agg_df.head()

                              PRICE
customers_level_based
BRA_ANDROID_FEMALE_0-18   35.645303
BRA_ANDROID_FEMALE_19-23  34.077340
BRA_ANDROID_FEMALE_24-30  33.863946
BRA_ANDROID_FEMALE_31-40  34.898326
BRA_ANDROID_FEMALE_41-70  36.737179

In [61]:
# GÖREV 7: Yeni müşterileri (USA_ANDROID_MALE_0_18) segmentlere ayırınız.
#############################################
# PRICE'a göre segmentlere ayırınız,
# segmentleri "SEGMENT" isimlendirmesi ile agg_df'e ekleyiniz,
# segmentleri betimleyiniz,

agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"],4,["D","C","B","A"])

agg_df.groupby("SEGMENT").agg({"PRICE": ["mean", "max", "sum"]})

agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE NEW_AGE     customers_level_based SEGMENT
0     bra  android    male   46   59.0   41-70    BRA_ANDROID_MALE_41-70       A
1     usa  android    male   36   59.0   31-40    USA_ANDROID_MALE_31-40       A
2     fra  android  female   24   59.0   24-30  FRA_ANDROID_FEMALE_24-30       A
3     usa      ios    male   32   54.0   31-40        USA_IOS_MALE_31-40       A
4     deu  android  female   36   49.0   31-40  DEU_ANDROID_FEMALE_31-40       A

In [62]:
#GÖREV 8: Yeni gelen müşterileri sınıflandırınız ne kadar gelir getirebileceğini tahmin ediniz.
#############################################
# 33 yaşında ANDROID kullanan bir Türk kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?

new_customer = "TUR_ANDROID_FEMALE_31-40"
  ##Kolonu buna eşit olanalrı getir

In [64]:
agg_df[agg_df["customers_level_based"] == new_customer]

   COUNTRY   SOURCE     SEX  AGE      PRICE NEW_AGE     customers_level_based SEGMENT
18     tur  android  female   32  43.000000   31-40  TUR_ANDROID_FEMALE_31-40       A
35     tur  android  female   31  40.666667   31-40  TUR_ANDROID_FEMALE_31-40       A

In [65]:
# 35 yaşında IOS kullanan bir Fransız kadını hangi segmente ve ortalama ne kadar gelir kazandırması beklenir?new_customer2 = "FRA_IOS_FEMALE_31-40"
new_customer2 = "FRA_IOS_FEMALE_31-40"
agg_df[agg_df["customers_level_based"] == new_customer2]

    COUNTRY SOURCE     SEX  AGE      PRICE NEW_AGE customers_level_based SEGMENT
208     fra    ios  female   40  33.000000   31-40  FRA_IOS_FEMALE_31-40       C
221     fra    ios  female   31  32.636364   31-40  FRA_IOS_FEMALE_31-40       C